/* Coolors Exported Palette - coolors.co/9f7e69-f2efc7-f7ffe0-ffeee2-bfcbc2 */

$color1: #9f7e69; //rgba(159, 126, 105, 100)
$color2: #f2efc7; //rgba(242, 239, 199, 100)
$color3: #f7ffe0; //rgba(247, 255, 224, 100)
$color4: #ffeee2; //rgba(255, 238, 226, 100)
$color5: #bfcbc2; //rgba(191, 203, 194, 100)